table {
    border-collapse: collapse;
    width: 100%;
    margin: auto; /* Center the table horizontally */
    padding: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
img {
    display: block; 
    width: 10%; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 0.5em;
}
body {
    padding: 40px;
    margin: 40px;
}

/* Further adjustments for smaller screens */
@media screen and (max-width: 480px) {
    th, td {
        font-size: 12px; /* Even larger font size for small screens */
    }
}