body{
    background-color: #F3F8FF;

}
input[type=text]:focus{
    background-color: #c6e7fc;
}
textarea:focus{
    background-color: #c6e7fc;
}
.group-form {
    margin: auto;
    width: 11%;
    padding: 100px;
}

button {
    background-color: #837CD6;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .group-form {
        width: 90%; /* More width for smaller screens */
    }

    button {
        width: 100%; /* Full width buttons on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .group-form {
        padding: 10px; /* Less padding on very small screens */
    }

    input[type="text"],
    textarea {
        font-size: 1.1em; /* Larger text on very small screens */
    }
}