body{
    background-color: #F3F8FF;

}
input[type=text]:focus{
    background-color: #c6e7fc;
}
textarea:focus{
    background-color: #c6e7fc;
}
.group-form {
    margin: auto;
    width: 11%;
    padding: 100px;
}

button {
    background-color: #837CD6;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}