ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #333;
}
.sidebar {
    position: fixed;
    width: 250px; 
    height: 100%;
    top: 20;
    left: 0;
    background-color: #d5b1ef;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 50px;
}

.sidebar:hover {
    width: 250px; 
}

.sidebar .profile-section img {
    display: block; 
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    
}
#profile-picture {
    width:80%;
    margin: auto;
}

main {

    padding-left: 250px;
}

body {
    overflow-y:auto; 
    background-color: aliceblue;
}

#postboardContainer {
    display: flex;
    overflow: hidden; 
    height: 100%;
    width: 100%;
}

#postboard, #postboardImg {
    margin-top: 2em;
    width: 50%;
    min-height: 100vh;
    overflow-y: auto; 
    position: relative;
    justify-content: center;
}

#postboard::-webkit-scrollbar, #postboardImg::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

#postboard .post, #postboardImg .post {
    height: auto; 
    background-color: paleturquoise;
    box-sizing: border-box; 
    width: 80%; 
    margin-top: 2em;
    margin-left: 10%; 
    padding: 1em 2em;
    border: 5px solid rgb(152, 228, 228);
    overflow: hidden; 
}

#postboard .post img, #postboardImg .post img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

#postboard .post:hover, #postboardImg .post:hover {
    transform: scale(1.03); 
    background-color: #aee1e1; 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.bookmark {
    position: relative; 
    width: 200px;
    height: 100px; 
    margin-bottom: 20px; 
    font-size: 25px;
}

.bookmark a {
    display: block; 
    width: 100%;
    height: 100%; 
    text-decoration: none; 
    color: black; 
}

.bookmark img {
 width: 120%;
}

.bookmark p {
    position: absolute; 
    margin: auto;
    top: 10%;
    text-align: center; 
    width: 100%; 
}

.bookmarks-container {
    margin-top: 10%;
}

a:focus,
button:focus,
input[type="text"]:focus,
textarea:focus {
    outline: 3px solid #76baff;
    outline-offset: 2px;
}
.likes {
    position: relative;
    left: 80%;
    font-size: 14px;
}