body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
}

.background {
    width: 100%;
    height: 100vh;
    position: relative; /* Needed for absolute positioning of children */
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}

.background-image {
    width: 100%;
    height: auto;
    position: absolute; /* Absolute position to overlay on the .background */
    top: 0;
    left: 0;
    z-index: 1; /* Ensures the background image is below other content */
}

.button-container {
    position: absolute; /* Position absolutely to place it at the desired location */
    bottom: 20%; /* Position from the bottom of the viewport */
    left: 50%; /* Start at the half-width of the viewport */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 3; /* On top of the logo and background */
}

.start-button {
    background-color: #ff00ff;
    color: white;
    padding: 20px 30px;
    font-size: 1.2em;
    border-radius: 20px;
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* To apply padding and centering */
}

.start-button:hover {
    background-color: #cc00cc;
}

@media (max-width: 768px) {
    .button-container {
        bottom: 10%; /* Closer to the bottom on smaller screens */
        width: 80%; /* Full width for better visibility */
        margin-top: 0; 
    }

    .start-button {
        padding: 15px 25px; /* Smaller padding on smaller screens */
        font-size: 1em; /* Smaller font size for smaller screens */
    }
}
