body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
    padding: 20px;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.right-side {
    float: right;
}

span.signed-in {
    color: #f2f2f2;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}