.post {
    max-width: 100%;
    word-wrap: break-word;
    padding: 20px;
    padding-bottom: 15px;   
}
.comment {
    background-color: lightgray;
    line-height: 32px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 100px;
}
button {
    background-color: #3fd43f;
    margin-bottom: 0;
    border: none;
    padding: 10px;
}
.author {
    display: block;
    font-style: italic;
    color: #666666;
}

img{
    width: 50%;
}

textarea{
    width: 50%;
    height: 300px;
    resize: none;
}

h3 {
    padding: 20px;
}

.error h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.comments-container p{
    padding: 20px;
}

.submitCommentContainer {
    padding: 20px;
}
.like-button {
    margin:20px;
}

a {
    text-decoration: none; 
    color: black;
}