body{
    background-color: #f5e72c;
}
.post {
    max-width: 100%;
    word-wrap: break-word;
    line-height: 32px;
    padding: 20px;
    padding-bottom: 15px;   
    text-align: center;
}
.comment {
    line-height: 32px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 20px;
}
button {
    background-color: #3fd43f;
    margin: 20px;
    margin-bottom: 0;
    border: none;
    padding: 10px;
}
.author {
    display: block;
    font-style: italic;
    color: #666666;
}

img{
    width: 50%;
}

textarea{
    width: 50%;
    height: 300px;
    resize: none;
}
