body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: #d5b1ef; 
}

.edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-profile-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-group input[type="file"] {
    width: 100%;
}

.save-btn {
    background-color: #ff00ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.save-btn:hover {
    background-color: #cc00cc;
}

.home-btn {
    display: block;
    position: absolute; /* Position it independently from other elements */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    background-color: #ff00ff; /* Background color */
    color: white; /* Text color */
    padding: 10px 15px; /* Padding inside the button */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none; /* Remove the underline from the link */
    font-size: 0.9em; /* Size of the text */
    z-index: 10; /* Make sure it's above other elements */
}

.home-btn:hover {
    background-color: #cc00cc; /* Color when hovered */
}
