table {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    background-color: #5cdef4;
}
input[type="submit"] {
    display: block;
}
input {
    margin: 20px auto 0;
}